@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.auto-comp {
    display: flex;
    margin-left: auto;
	margin-right: 1.25rem;
	margin-top: 0.5rem;
}

.bg-home-brown {
	background: url(../../public/nike-brown.jpg);
	height: 550px;
	background-position: center;
}

.bg-home-white {
	background: url(../../public/nike-white.jpg);
	height: 600px;
	background-position: 45% 50%;
}

.header-cart-count {
	position: relative;
	top: 40px;
}