.search-x-y-align {
	margin-left: 37.5%;
	margin-right: 70%;
}

@media (max-width: 2700px) and (min-width: 2000px) {
	.search-x-y-align {
		margin-left: 33.5%;
		margin-right: 70%;
	}
}

@media (max-width: 2000px) and (min-width: 1530px) {
	.search-x-y-align {
		margin-left: 27.5%;
		margin-right: 70%;
	}
}

@media (max-width: 1530px) and (min-width: 1100px) {
	.search-x-y-align {
		margin-left: 19.5%;
		margin-right: 70%;
	}
}

@media (max-width: 1100px) and (min-width: 1030px) {
	.search-x-y-align {
		margin-left: 7%;
		margin-right: 70%;
	}
}

@media (max-width: 1030px) and (min-width: 965px) {
	.search-x-y-align {
		margin-left: 11%;
		/* margin-top: 3.75rem !important; */
	}
}

@media (max-width: 965px) and (min-width: 768px) {
	.search-x-y-align {
		margin-left: 0%;
		margin-top: 5.5rem !important;
	}
}

@media (max-width: 767px) and (min-width: 0px) {
	.search-x-y-align {
		margin-left: 0%;
		margin-top: 6.375rem !important;
	}
}
